*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(170deg,rgb(182, 182, 94),rgb(244, 65, 166));
    
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    width: 350px;
    height: 250px;
    /* border: 1px solid white; */
    background-color: aliceblue;
    /* transform: translateX(20%); */
    border-radius: 1rem;
    transition: 0.5s;
   
}
.card:hover{
    height: 450px;
}
.card .image{
    position: absolute;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: white;
    transition: 0.5s;
    overflow: hidden;
}
.card:hover .image{
    width: 250px;
    height: 250px;
}
.card .image img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card .content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.card .content .details{

    padding: 40px;
    text-align: center;
    width: 100%;
    transform: translateY(160px);
    transition: 0.5s;
    
}
.card:hover .content .details{
    transform: translateY(0px);
    /* display: flex; */
    /* justify-content: space-between; */
    
}
.card .content .details h4{
    font-size: 1.5rem;
    line-height: 1rem;
    /* margin-top: 0.1rem; */

    
}
.card .content .details h4 span{
font-size: 1rem; 
opacity: 0.6;
font-size: 0.2;


}
.card .content .details .info{
display: flex;
justify-content:space-around;
margin-top: 37px;


}
.card .content .details .buttons{
    margin-top: 1.5rem;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    
}
.card .content .details .buttons button{
    border-radius: 0.2rem;
    border: 1px solid gray;
    color: rgb(22, 21, 21);
    background-color: rgb(248, 109, 206);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    margin: 0rem 0.5rem;
}
.card .content .details .buttons button:nth-child(2){
    color: rgb(7, 7, 7);
    background-color: aliceblue;
    
}
